/**
 * @file disney.scss
 * 
 * This is the core css generation file for the system.
 */
/**
 * @file support.scss
 * 
 * Support functions used in the sass system
 */
body {
  height: auto;
  /** Primary Document Regions **/ }
  body header {
    background: blue;
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 2; }
  body article {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 400px;
    margin-top: -200px;
    margin-left: -500px;
    z-index: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    background: lightgray; }
    body article .cardpanel {
      background: lightgreen;
      top: 50%;
      left: 50%;
      width: 750px;
      height: 400px;
      margin-top: -200px;
      margin-left: -375px; }
    body article .card-field {
      background: blue;
      width: 500px;
      height: 150px;
      margin-left: 100px;
      margin-bottom: 15px; }
    body article #player-pit {
      margin: 0 auto;
      width: 95%; }
    body article .cards-placeholder {
      display: block;
      float: left;
      width: 220px;
      height: 100px;
      border: 1px solid black;
      margin-left: 5px;
      margin-right: 5px;
      background: gray; }
      body article .cards-placeholder#ph0 {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 500px;
        height: 100px;
        float: none; }
    @media screen and (max-width: 400px) {
      body article {
        border: none;
        background: none; } }
    @media screen and (max-height: 345px) {
      body article {
        top: 180px; } }
  body footer {
    position: fixed;
    bottom: 0;
    background: blue;
    color: white;
    padding: 6px 6px 6px 10px;
    margin: 5px;
    width: 98.5%; }

ul#challenge-two li:hover {
  cursor: pointer; }

/**
 * Playing Card Rules
 */
.card-print {
  position: absolute;
  float: left;
  width: 20px; }
  .card-print:hover {
    z-index: 100; }
    .card-print:hover .ui-draggable-dragging {
      margin-top: 0; }
    .card-print:hover img {
      margin-top: 30px; }

.first-card {
  margin-left: -50px;
  padding-left: 50px; }

.cards-overlap {
  position: relative;
  margin-left: -50px;
  z-index: 0; }

/**
 * HUD
 */
#hud-menu {
  position: fixed;
  bottom: 50px;
  width: 50%;
  margin-left: 400px;
  display: block; }

#hud-main {
  position: fixed;
  top: 50px;
  margin-left: 650px; }

/** Document Style **/
h1 {
  font-size: 18px; }

h3 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline; }

/** Some general button layout rules **/
.btn-container {
  float: left; }
  .btn-container input {
    width: 20px;
    margin-right: 15px; }

a.classy-link {
  position: absolute;
  bottom: 50px;
  right: 20px; }

/** Effects **/
.striken {
  text-decoration: line-through; }

.hidden {
  display: none; }

#discard-pile {
  position: absolute;
  display: block;
  top: 116px;
  left: 600px;
  height: 150px;
  width: 300px;
  margin: 20px;
  background: black; }
  #discard-pile .cards-placeholder {
    background: black;
    margin-top: 15px;
    margin-left: 25px; }
