/**
 * @file disney.scss
 * 
 * This is the core css generation file for the system.
 */

@import 'support';

body { 

  height: auto;

  /** Primary Document Regions **/
  header {

    // Brush
    background: blue;
    color: white;
   

    // Box
    padding: 10px;
    margin: 0;

    // Document
    z-index: 2;
  }

  article { 

    // Document
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 400px;
    margin-top: -200px;
    margin-left: -500px;
    z-index: 1;

    // Box
    padding: 10px;
    border: 1px solid black;
    @include border-radius(10px);

    // Brush
    background: lightgray;

     // Defines an area for playing cards
    .cardpanel { 

      // Brush
      background: lightgreen;

      // Document
      top: 50%;
      left: 50%;

      // Box
      width: 750px;
      height: 400px;
      margin-top: -200px;
      margin-left: -375px;
    }

    // The field of play
    .card-field {

       // Brush
       background: blue;

       // Box
       width: 500px;
       height: 150px;
       margin-left: 100px;
       margin-bottom: 15px;
     }


    // Area where player stats are displayed
    #player-pit {

       margin: 0 auto;
       width: 95%;
     }

     // Area used to display cards
    .cards-placeholder {
      
      // Document
      display: block;
      float: left;

      // Box
      width: 220px;
      height: 100px;
      border: 1px solid black;
      margin-left: 5px;
      margin-right: 5px; 

      // Brush
      background: gray;

      &#ph0 {

        // Box
        margin: 0 auto;
        margin-bottom: 25px;
        width: 500px;
        height: 100px;

        // Document
        float: none;
      }
    }

    @media screen and (max-width: 400px) {

      & {

        // Box
        border: none;

        // Brush
        background: none;
      }
    }

    @media screen and (max-height: 345px) { 

       top: 180px;
    }
  }

  footer {

    // Document
    position: fixed;
    bottom: 0;

    // Brush
    background: blue;
    color: white;

    // Box
    padding: 6px 6px 6px 10px;
    margin: 5px;
    width: 98.5%;

  }
}

ul#challenge-two {

  li {

    &:hover {

      cursor: pointer;
    } 
  }
}

/**
 * Playing Card Rules
 */
// The printout rules for a playing card
.card-print {

  // Document
  position: absolute;
  float: left;

  // Box
  width: 20px;

  // ... on hover ...
  &:hover {

    // Bring the div up front
    // Document
    z-index: 100;

    .ui-draggable-dragging {
      margin-top: 0;
    }

    img {

      // And drop the image 30 px (leaving the div in tact)
      // Box
      margin-top: 30px;
    }
  }
}

// Rules for the first card in a hand.
.first-card {

  margin-left: -50px;
  padding-left: 50px;
}

// Rules for overlapping cards ( > first card in hand)
.cards-overlap {

  position: relative;
  margin-left: -50px;
  z-index: 0;
}

/**
 * HUD
 */
#hud-menu {

  position: fixed;
  bottom: 50px;
  width: 50%;
  margin-left: 400px;
  display: block;
}

#hud-main {

  position: fixed;
  top:50px;
  margin-left: 650px;
}

/** Document Style **/
h1 { 

  font-size: 18px; 
}

h3 { 

  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/** Some general button layout rules **/
.btn-container {

  float: left;

  input {

    width: 20px;
    margin-right: 15px;
  }
}

a.classy-link {

  position: absolute;
  bottom: 50px;
  right: 20px;
}

/** Effects **/
.striken {

  text-decoration: line-through;
}

.hidden {

  display: none;
}

// Experiment
//The discard pile
    #discard-pile {
      position: absolute;
      display: block;
      top: 116px;
      left: 600px;
      height: 150px; 
      width: 300px;
      margin: 20px;
      background: black;

      .cards-placeholder {

        background: black;
        margin-top: 15px;
        margin-left: 25px;
      }
    }
