/**
 * @file support.scss
 * 
 * Support functions used in the sass system
 */
@mixin border-radius($size) {

  border-radius: $size;
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -ms-border-radius: $size;
}
